@model _10PERFTASK.Models.Product

<h2>Edit Product</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductID) <!-- hidden -->

    <div class="form-group">
        @Html.LabelFor(model => model.ProductName)
        @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Brand)
        @Html.TextBoxFor(model => model.Brand, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
}
